p {
    font-family: "Times New Roman", Times, serif;
    font-size: 16pt;
    color: #000000;
    text-align: right;
}

h1 {
    font-size: 40px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}

pl {
    text-decoration: none;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    text-align: center;
    color: black;
}
pl:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: "Calibri", serif;
    text-align: center;
    color: black;
}

a:link {
    text-decoration: none;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    color: blue;
}
a:hover {
    text-decoration: underline;
    font-size: 14px;
    font-family: "Times New Roman", serif;
    color: blue;
}

hr {
    color: black;
    size: 1;
}